{% extends "_layout.njk" %}

{% set primaryNavId = "organisations" %}

{% set title = "Address" %}

{% if organisation.id %}
  {% set caption = organisation.name %}
{% else %}
  {% set caption = "Add organisation" %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading-legend.njk" %}
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% call govukFieldset({
          legend: {
            html: headingHtml,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukInput({
            id: "address-line-1",
            name: "organisation[address][addressLine1]",
            label: {
              text: "Address line 1",
              classes: "govuk-label--s"
            },
            autocomplete: "address-line1",
            errorMessage: errors | getErrorMessage("address-line-1"),
            value: organisation.address.addressLine1
          }) }}

          {{ govukInput({
            id: "address-line-2",
            name: "organisation[address][addressLine2]",
            label: {
              text: "Address line 2 (optional)",
              classes: "govuk-label--s"
            },
            autocomplete: "address-line2",
            errorMessage: errors | getErrorMessage("address-line-2"),
            value: organisation.address.addressLine2
          }) }}

          {{ govukInput({
            id: "address-line-3",
            name: "organisation[address][addressLine3]",
            label: {
              text: "Address line 3 (optional)",
              classes: "govuk-label--s"
            },
            autocomplete: "address-line3",
            errorMessage: errors | getErrorMessage("address-line-3"),
            value: organisation.address.addressLine3
          }) }}

          {{ govukInput({
            id: "address-town",
            name: "organisation[address][town]",
            label: {
              text: "Town or city",
              classes: "govuk-label--s"
            },
            classes: "govuk-!-width-two-thirds",
            autocomplete: "address-level2",
            errorMessage: errors | getErrorMessage("address-town"),
            value: organisation.address.town
          }) }}

          {{ govukInput({
            id: "address-county",
            name: "organisation[address][county]",
            label: {
              text: "County (optional)",
              classes: "govuk-label--s"
            },
            classes: "govuk-!-width-two-thirds",
            errorMessage: errors | getErrorMessage("address-county"),
            value: organisation.address.county
          }) }}

          {{ govukInput({
            id: "address-postcode",
            name: "organisation[address][postcode]",
            label: {
              text: "Postcode",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-10",
            autocomplete: "postal-code",
            errorMessage: errors | getErrorMessage("address-postcode"),
            value: organisation.address.postcode | upper
          }) }}

        {% endcall %}

        {{ govukButton({
          text: "Update address" if organisation.id else "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
