{% extends "_layout.njk" %}

{% set primaryNavId = "organisations" %}

{% if organisation.id %}
  {% set title = organisation.name %}
{% else %}
  {% set title = "Organisation details" %}
  {% set caption = "Add organisation" %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukInput({
          id: "organisation-name",
          name: "organisation[name]",
          label: {
            text: "Provider name",
            classes: "govuk-label--s"
          },
          hint: {
            text: "The name that will appear on Find"
          },
          autocomplete: "organization",
          spellcheck: false,
          errorMessage: errors | getErrorMessage("organisation-name"),
          value: organisation.name
        }) }}

        {% if organisation.id %}
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Provider code</p>
          <p class="govuk-body">{{ organisation.code }}</p>
          <input type="hidden" name="organisation[code]" value="{{ organisation.code }}">
        {% else %}
          {{ govukInput({
            id: "organisation-code",
            name: "organisation[code]",
            label: {
              text: "Provider code",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-10",
            errorMessage: errors | getErrorMessage("organisation-code"),
            value: organisation.code
          }) }}
        {% endif %}

        {{ govukInput({
          id: "organisation-ukprn",
          name: "organisation[ukprn]",
          label: {
            text: "UK provider reference number (UKPRN)",
            classes: "govuk-label--s"
          },
          formGroup: {
            classes: "govuk-!-margin-bottom-2"
          },
          classes: "govuk-input--width-10",
          errorMessage: errors | getErrorMessage("organisation-ukprn"),
          value: organisation.ukprn
        }) }}

        <p class="govuk-body govuk-!-margin-bottom-5">Find UKPRNs on the <a class="govuk-hint" href="https://www.ukrlp.co.uk/" target="_blank">UK register of learning providers (opens in new tab)</a></p>

        {% set conditionalAccreditedProviderHtml %}
          {{ govukInput({
            id: "organisation-accredited-provider-id",
            name: "organisation[accreditedProviderId]",
            label: {
              text: "Accredited provider ID"
            },
            classes: "govuk-input--width-10",
            errorMessage: errors | getErrorMessage("organisation-accredited-provider-id"),
            value: organisation.accreditedProviderId
          }) }}
        {% endset %}

        {{ govukRadios({
          idPrefix: "organisation-is-accredited-body",
          name: "organisation[isAccreditedBody]",
          fieldset: {
            legend: {
              text: "Is the organisation an accredited provider?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true if organisation.isAccreditedBody in ["yes",true] else false,
              conditional: {
                html: conditionalAccreditedProviderHtml
              }
            },
            {
              value: "no",
              text: "No",
              checked: true if organisation.isAccreditedBody in ["no",false] else false
            }
          ],
          errorMessage: errors | getErrorMessage("organisation-is-accredited-body")
        }) }}

        {% set conditionalProviderTypeHtml %}
          {{ govukInput({
            id: "organisation-urn",
            name: "organisation[urn]",
            label: {
              text: "Unique reference number (URN)"
            },
            classes: "govuk-input--width-10",
            errorMessage: errors | getErrorMessage("organisation-urn"),
            value: organisation.urn
          }) }}

          <p class="govuk-body govuk-!-margin-top-2">Find URNs on <a class="govuk-hint" href="https://www.get-information-schools.service.gov.uk/" target="_blank">Get Information about Schools (opens in new tab)</a></p>
        {% endset %}

        {{ govukRadios({
          idPrefix: "organisation-type",
          name: "organisation[type]",
          fieldset: {
            legend: {
              text: "Provider type",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "hei",
              text: "Higher Education Institute (HEI)",
              checked: true if organisation.type == "hei" else false
            },
            {
              value: "scitt",
              text: "School Centred Initial Teacher Training (SCITT)",
              checked: true if organisation.type == "scitt" else false
            },
            {
              value: "lead_school",
              text: "School",
              checked: true if organisation.type == "lead_school" else false,
              conditional: {
                html: conditionalProviderTypeHtml
              }
            }
          ],
          errorMessage: errors | getErrorMessage("organisation-type")
        }) }}

        {{ govukButton({
          text: "Update organisation details" if organisation.id else "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
