{% extends "_layout.njk" %}

{% set primaryNavId = "organisations" %}

{% set title = "Organisation details" %}
{% set caption = organisation.name %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukInput({
          id: "organisation-name",
          name: "organisation[name]",
          label: {
            text: "Name",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("organisation-name"),
          value: organisation.name
        }) }}

        {{ govukInput({
          id: "organisation-code",
          name: "organisation[code]",
          label: {
            text: "Provider code",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("organisation-code"),
          value: organisation.code,
          classes: "govuk-!-width-one-quarter"
        }) }}

        {{ govukRadios({
          idPrefix: "organisation-type",
          name: "organisation[type]",
          fieldset: {
            legend: {
              text: "Provider type",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: providerTypeItems
        }) }}

        {{ govukButton({
          text: "Update organisation details"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
