{% extends "_layout.njk" %}

{% set primaryNavId = "organisations" %}

{% set title = "Organisations (" + pagination.totalCount | numeral("0,0") + ")" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {{ govukButton({
        text: "Add organisation",
        href: "#"
      }) }}

    </div>
  </div>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">

      {% include "./_filter-panel.njk" %}

    </div>

    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      <ul class="govuk-list govuk-list--spaced">
        {% for organisation in organisations %}
          <li>
            <a class="govuk-link" href="/organisations/{{ organisation.id }}">
              {{ organisation.name }} ({{ organisation.code }})
            </a>
          </li>
        {% endfor %}
      </ul>

      {% if organisations.length and pagination %}
        {% include "_includes/pagination.njk" %}
      {% endif %}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>
{% endblock %}
