{% extends "_layout.njk" %}

{% set primaryNavId = "organisations" %}

{% set title = "Organisations (" + pagination.totalCount | numeral("0,0") + ")" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {{ govukButton({
        text: "Add organisation",
        href: actions.new
      }) }}

    </div>
  </div>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">

      {% include "./_filter-panel.njk" %}

    </div>

    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% include "./_search-panel.njk" %}

      {% if organisations.length %}

        <ul class="govuk-list govuk-list--spaced">
          {% for organisation in organisations %}
            <li>
              <a class="govuk-link" href="{{ actions.view }}/{{ organisation.id }}">
                {{ organisation.name }} ({{ organisation.code }})
              </a>
              <p class="govuk-hint govuk-!-font-size-16">{{ organisation.type | getProviderTypeLabel }}</p>
            </li>
          {% endfor %}
        </ul>

        {% if organisations.length and pagination %}
          {% include "_includes/pagination.njk" %}
        {% endif %}

      {% else %}

        {% include "./_no-results.njk" %}

      {% endif %}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>
{% endblock %}
