{% extends "_layout.njk" %}

{% set primaryNavId = "organisations" %}
{% set subNavId = "accreditedProviders" %}

{% set title = organisation.name + " (" + organisation.code + ")" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/page-heading.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "../_sub-navigation.njk" %}

      {{ govukButton({
        text: "Add accredited provider",
        href: actions.new
      }) }}

      {% if accreditedProviders.length %}

      {% else %}
        <p class="govuk-body">There are no accredited providers for {{ organisation.name if organisation.name else "your organisation" }}.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
