{% extends "_layout.njk" %}

{% set primaryNavId = "organisations" %}
{% set subNavId = "locations" %}

{% set title = "Add locations" %}
{% set caption = organisation.name %}

{% block pageTitle %}
{{ 'Error: ' if errors.length }} {{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

{% include "_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="UTF-8" novalidate>

      {{ govukTextarea({
        id: "users",
        name: "upload[raw]",
        label: {
          text: "Location details",
          classes: "govuk-label--s"
        },
        hint: {
          text: "Enter the location name, unique reference number and address. Separate each location item with a tab or comma and use a new line for each location. You can also copy and paste directly from a spreadsheet as long as it is formatted correctly."
        },
        errorMessage: errors | getErrorMessage("raw"),
        value: data.upload.raw
      }) }}

      {% set helpText %}
        <h2 class="govuk-heading-m">
          How to format the data
        </h2>
        <p class="govuk-body">
          Enter the location name, unique reference number and address. Separate each location item with a comma and use a new line for each location. You need to include:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>location name</li>
          <li>unique reference number</li>
          <li>address line 1</li>
          <li>address line 2</li>
          <li>town or city</li>
          <li>county</li>
          <li>postcode</li>
        </ul>
        <p class="govuk-body">
          If any of this data is missing, you need to include a blank item in its place, such as a comma. For example:
        </p>
        {{ govukInsetText({
          text: "My location name,,123 main street,,Some town,,SW11 4AA"
        }) }}
        <h3 class="govuk-heading-s">
          Copying from a spreadsheet
        </h3>
        <p class="govuk-body">
          You can also copy and paste directly from a spreadsheet. Your spreadsheet needs to look like this example:
        </p>
        <img src="/public/images/locations-spreadsheet.png" alt="Spreadsheet showing school names and addresses" class="govuk-!-width-full">
      {% endset %}

      {# {{ govukDetails({
        summaryText: "Help formatting the data",
        html: helpText
      }) }} #}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

    {{ helpText | safe }}

  </div>
</div>

{% endblock %}
